@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #191919;
  --white: #ffffff;
  --blue: #4175fc;
  --red--alt: #084af3;
}

* {
  @apply p-0 m-0 box-border;
}

img {
  @apply max-w-full inline-block
  /* max-width: 100%;
  display: inline-block; */;
}

.container {
  @apply max-w-6xl w-[calc(100%-3rem)] mx-auto;
}

.btn {
  @apply uppercase px-10 py-4 text-white bg-blue-500 transition-all duration-300 font-semibold rounded-full leading-none inline-block;
}

.btn:hover {
  @apply bg-red-500;
}

.featured__title {
  @apply text-4xl mt-8 text-white uppercase;
}

footer {
  @apply mt-24 bg-black text-white text-center py-12 px-0;
}

.line {
  @apply w-24 h-1 bg-blue-500 block mx-auto my-0;
}

.section__heading {
  @apply text-4xl font-bold uppercase text-black mb-7;
}

.blog__title {
  @apply text-lg capitalize text-black mb-3 text-center;
}

.blog__description {
  @apply text-center mb-4;
}

.section {
  @apply mt-24;
}
